@charset "UTF-8"
      body{
            background-color: rgb(147, 175, 231);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(114, 22, 15);
            background-color: rgb(250, 166, 166);
        }
        h2{
            color: rgb(48, 87, 9);
        }
        p{
            text-align: justify;
        }